---
const githubLink = "https://github.com/ranger-ross";
const logoSize = 35;
---

<div class="flex gap-2 justify-center pt-5">
    <div class="duration-500 motion-safe:hover:scale-110 cursor-pointer">
        <a href={githubLink} target={"_blank"} rel="noreferrer">
            <img
                src="/logos/github-logo.png"
                alt="github"
                height={logoSize}
                width={logoSize}
                style="filter: invert(100%)"
            />
        </a>
    </div>
</div>
