---
import type { Project } from "../types/project";
import BasicCard from "./BasicCard.astro";
import ProjectCard from "./ProjectCard.astro";

import nihongoStats from "../../public/projects/nihongo-stats.png";

const projects: Project[] = [
    {
        name: "Nihongo Stats",
        image: nihongoStats.src,
        link: "/projects/nihongo-stats",
        description:
            "A stats visualization tools for Japanese language learning platforms.",
        repository: "https://github.com/ranger-ross/nihongo-stats",
        borderColors: {
            start: "from-[#7928ca]",
            end: "to-[#ff0080]",
        },
    },
];
---

<div class="flex flex-col gap-3 p-4 w-full">
    <BasicCard growOnHover={false}>
        <div
            class="font-extrabold text-transparent text-4xl sm:text-5xl bg-clip-text bg-gradient-to-r from-sky-300 to-blue-400 h-14 w-fit mb-3"
        >
            Projects <div class="inline-block text-black">🎨</div>
        </div>

        <div class="flex flex-wrap gap-2">
            {projects.map((tech) => <ProjectCard project={tech} />)}
        </div>
    </BasicCard>
</div>
