---
import BasicCard from "./BasicCard.astro";

import springBootLogo from "../../public/logos/springboot-logo.png";
import kubernetesLogo from "../../public/logos/kubernetes-logo.png";
import javaLogo from "../../public/logos/java-logo.jpg";
import gcpLogo from "../../public/logos/gcp-logo.png";
import reactLogo from "../../public/logos/react-logo.png";
import angularLogo from "../../public/logos/angular-logo.png";
import gitlabCiLogo from "../../public/logos/gitlab-logo.png";
import jenkinsLogo from "../../public/logos/jenkins-logo.png";
import javascriptLogo from "../../public/logos/javascript-logo.png";
import svelteLogo from "../../public/logos/svelte-logo.png";
import rustLogo from "../../public/logos/rust-logo.png";
import postgresLogo from "../../public/logos/postgres-logo.png";
import nodeLogo from "../../public/logos/node-logo.png";
import oracleLogo from "../../public/logos/oracle-logo.png";
import gitlabActionsLogo from "../../public/logos/github-actions-logo.png";
import awsLogo from "../../public/logos/aws-logo.png";
import TechnologyLabel from "./TechnologyLabel.astro";
import type { Technology } from "../types/technology";

const technologies: Technology[] = [
    {name: 'Kubernetes', logo: kubernetesLogo.src, docs: 'https://kubernetes.io/'},
    {name: 'Rust', logo: rustLogo.src, docs: 'https://www.rust-lang.org/'},
    {name: 'Google Cloud Platform', logo: gcpLogo.src, docs: 'https://cloud.google.com/'},
    {name: 'AWS', logo: awsLogo.src, docs: 'https://aws.amazon.com/'},
    {name: 'Java', logo: javaLogo.src, docs: 'https://www.java.com/'},
    {name: 'React', logo: reactLogo.src, docs: 'https://reactjs.org/'},
    {name: 'Angular', logo: angularLogo.src, docs: 'https://angular.io/'},
    {name: 'Gitlab CI', logo: gitlabCiLogo.src, docs: 'https://docs.gitlab.com/ee/ci/'},
    {name: 'Github Actions', logo: gitlabActionsLogo.src, docs: 'https://github.com/features/actions'},
    {name: 'Jenkins', logo: jenkinsLogo.src, docs: 'https://www.jenkins.io/'},
    {name: 'Javascript', logo: javascriptLogo.src, docs: 'https://www.javascript.com/'},
    {name: 'SvelteKit', logo: svelteLogo.src, docs: 'https://kit.svelte.dev/'},
    {name: 'SpringBoot', logo: springBootLogo.src, docs: 'https://spring.io/'},
    {name: 'NodeJS', logo: nodeLogo.src, docs: 'https://nodejs.org/en/about/'},
    {name: 'Postgres', logo: postgresLogo.src, docs: 'https://www.postgresql.org/'},
    {name: 'Oracle Database', logo: oracleLogo.src, docs: 'https://www.oracle.com/database/'},
];

---

<div class="flex flex-col gap-3 p-4 w-full">

    <BasicCard growOnHover={false}>
        <div
            class="font-extrabold text-transparent text-4xl sm:text-5xl bg-clip-text bg-gradient-to-r from-yellow-300 to-orange-400 h-14 w-fit mb-3">
            Technologies <div class="inline-block text-black">🚀</div>
        </div>

        <div class="grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
            {technologies.map(tech => (
                <TechnologyLabel key={tech.name} tech={tech}/>
            ))}
        </div>
    </BasicCard>

</div>

