---
---

<style>
    .blinking-cursor {
        width: 2px;
        margin-top: 5%;
        margin-bottom: 5%;
        animation: blinking-cursor-animation 1.25s infinite;
        opacity: 50%;
    }

    @keyframes blinking-cursor-animation {
        from,
        to {
            opacity: 100%;
        }
        50% {
            opacity: 0;
        }
    }
</style>

<div class="flex bg-gray-800 pl-4 pr-4 rounded" style="font: caption">
    <h2 class="text-lg text-indigo-400 pr-1">$</h2>
    <h2 class="text-lg text-gray-200 pr-1"><slot /></h2>
    <div class="blinking-cursor bg-fuchsia-400"></div>
</div>
